.tabs .MuiBox-root {
    flex-direction: row-reverse;
    height:auto;
}
.tabs-name{
    width:50%;
}

.tabs-name .MuiTabs-root {
    padding-top: 16%;
}
.tab-content{
    width:50%;
}
.MuiTabs-indicator {
    display: none;
}
.tabs-name .MuiButtonBase-root {
    align-items: flex-start;
    font-family: 'Barlow';
    color: #6D6D6D;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.location-address{
    position: relative;
}
.map-address {
    position: absolute;
    background: #F4F4F4;
    padding: 50px 40px;
    bottom: -60px;
    right: -10px;
}
.map-address p {
    padding: 20px 0 30px 0;
}