.choice {
    background-color: #F6F7F8;
    padding: 70px 0 100px 0;
    margin-top: 120px !important;
}
.section-title p {
    text-align: center;
    padding: 6px 0 15px 0;
}
.choice img{
    width:100%;
}
.cus-choice-img :first-child{
    padding-bottom: 10px;
}
.choice a {
    margin: 25px 0 50px 0;
}
.choice img{
    transition: 1s ease;
    }
    
    .choice img:hover{
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
    transition: 1s ease;
    }
    .choice .col-xl-6 {
        overflow: hidden;
    }
    .nd-row-img{
        overflow: hidden;
    }